/target
/build
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*.json
/.lein-*
/.nrepl-port
.hgignosxAQZre
.hg/
/.idea/
/node_modules/
/figwheel_server.log
/memefactory.iml
/.node-xmlhttprequest-sync-*
/resources/public/css/main.css
/resources/public/css/semantic.css
/resources/public/css/semantic.min.css
/resources/public/css/themes/
/resources/semantic/dist/
/npm-debug.log
/config.edn
/dev-server/
/server/
/dev-tests/
memefactory-tests/
/browser-tests/
/src/name_bazaar/server/repl.cljs
/smart-contracts-tests/
resources/public/js/compiled/
resources/public/contracts/build/
