*.class
*.jar
.clj-kondo/.cache/
.hg/
.hgignosxAQZre
/.env
/.idea/
/.lein-*
/.node-xmlhttprequest-sync-*
/.nrepl-port
/browser-tests/
/build
/checkouts
/classes
/config.edn
/dev-server/
/dev-tests/
/figwheel_server.log
/memefactory.iml
/node_modules/
/npm-debug.log
/resources/public/css/main.css
/resources/public/css/semantic.css
/resources/public/css/semantic.min.css
/resources/public/css/themes/
/resources/semantic/dist/
/server/
/smart-contracts-tests/
/target
dev-pinner
memefactory-tests/
pinner
pom.xml
pom.xml.asc
resources/public/contracts/build/
resources/public/js/compiled/
/resources/public/js/manifest.edn
/resources/public/js/main.js
yarn-error.log

node_modules
*.log
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/
# General
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vscode/settings.json
