{"5f031b62-ff75-45fe-b2bb-7f3e41aaa1f8"
 {:y 533.0,
  :key "N",
  :w 184.0,
  :title "Now",
  :h 102.0,
  :node-id "5f031b62-ff75-45fe-b2bb-7f3e41aaa1f8",
  :result-type :as-value,
  :code "(memefactory.server.graphql-resolvers/last-block-timestamp)",
  :x 606.0},
 "14a9da7b-3c60-4a42-aa11-c04e37dce86c"
 {:y 7.0,
  :key "R",
  :w 226.0,
  :title "Redeploy",
  :h 67.0,
  :node-id "14a9da7b-3c60-4a42-aa11-c04e37dce86c",
  :result-type nil,
  :code "(memefactory.server.dev/redeploy)",
  :x 381.0},
 "813c9f99-4716-4447-9677-f69b72ac2b90"
 {:y 370.0,
  :key "E",
  :w 719.0,
  :title "All reg entries",
  :h 198.0,
  :node-id "813c9f99-4716-4447-9677-f69b72ac2b90",
  :result-type :as-table,
  :code "(district.server.db/all {:select [:*] :from [:reg-entries]})",
  :x 960.0},
 "f4d5024d-17e3-46d5-a4d3-97f9a5600cee"
 {:y 475.0,
  :key "M",
  :w 182.0,
  :title "Mine",
  :h 55.0,
  :node-id "f4d5024d-17e3-46d5-a4d3-97f9a5600cee",
  :result-type nil,
  :code "(cljs-web3.evm/mine! @district.server.web3/web3)",
  :x 607.0},
 "42028980-9666-4b61-8157-c2b943026b17"
 {:y 219.0,
  :key "P",
  :w 288.0,
  :title "Params",
  :h 215.0,
  :node-id "42028980-9666-4b61-8157-c2b943026b17",
  :result-type :as-value,
  :code "(memefactory.server.dev/print-params)",
  :x 36.0},
 "f5112ae2-47d9-41b9-8f03-18156eeb3aec"
 {:y 108.0,
  :key "R",
  :w 254.0,
  :title "Ranks Cache",
  :h 102.0,
  :node-id "f5112ae2-47d9-41b9-8f03-18156eeb3aec",
  :result-type :as-value,
  :code "@@memefactory.server.ranks-cache/ranks-cache",
  :x 38.0},
 "5048875d-f198-4883-b49b-089cea1d7ed9"
 {:y 535.0,
  :key "N",
  :w 292.0,
  :title "Move to next period",
  :h 98.0,
  :node-id "5048875d-f198-4883-b49b-089cea1d7ed9",
  :result-type nil,
  :code
  "(memefactory.server.dev/increase-time-to-next-period \"${address}\")",
  :x 33.0},
 "c3568bc1-925d-4f72-8a33-b5a93022fe93"
 {:y 642.0,
  :key "A",
  :w 806.0,
  :title "Auctions",
  :h 190.0,
  :node-id "c3568bc1-925d-4f72-8a33-b5a93022fe93",
  :result-type :as-table,
  :code
  "(district.server.db/all {:select [:*] :from [[:meme-tokens :mt]] :join [[:meme-auctions :ma] [:= :mt.meme-token/token-id :ma.meme-auction/token-id]]})",
  :x 891.0},
 "09c269aa-8766-4942-9ebb-2c72f4eec53f"
 {:y 534.0,
  :key "T",
  :w 271.0,
  :title "Increase time",
  :h 100.0,
  :node-id "09c269aa-8766-4942-9ebb-2c72f4eec53f",
  :result-type nil,
  :code "(memefactory.server.dev/increase-time ${seconds})",
  :x 331.0},
 "0ccadb00-bd2f-404e-be0f-82548b3248f6"
 {:y 21.0,
  :key "B",
  :w 713.0,
  :title "Balances",
  :h 337.0,
  :node-id "0ccadb00-bd2f-404e-be0f-82548b3248f6",
  :result-type :as-table,
  :code "(memefactory.server.dev/print-balances)",
  :x 957.0},
 "7259247b-835f-4476-bb82-3f3c694e3dda"
 {:y 640.0,
  :key "S",
  :w 849.0,
  :title "Statuses",
  :h 188.0,
  :node-id "7259247b-835f-4476-bb82-3f3c694e3dda",
  :result-type :as-table,
  :code "(memefactory.server.dev/print-statuses)",
  :x 42.0}}
