{:dev-http {4598 "resources/public/"}

 :deps {:aliases [:dev]}

 :nrepl {
         :middleware [cider.piggieback/wrap-cljs-repl
                      refactor-nrepl.middleware/wrap-refactor]
         :port 54872}

 :http {:port 3449
        :host "0.0.0.0"}

 :builds {:dev-ui
          {:target :browser
           :modules {:main {:init-fn memefactory.ui.core/init}}
           :main memefactory.ui.core
           :infer-externs true
           ;:js-options {:js-package-dirs ["./ui/node_modules"]}
           ;:npm-deps false
           :output-dir "resources/public/js/"
           ;:optimizations :none
           :source-map true
           :source-map-timestamp true
           :devtools {:ignore-warnings true
                      :preloads [devtools.preload
                                 re-frisk.preload]}
           :closure-defines {re-frame.trace.trace-enabled? true
                             goog.DEBUG true}}

          :dev-server
          {:target :node-script
           :main memefactory.server.core/-main
           ;:js-options {:js-package-dirs ["./server/node_modules"]}
           :js-options {:keep-as-import #{"d3"}}
           :output-dir "server/"
           :output-to "server/memefactory_server.js"
           ;:optimizations :none
           ;:source-map true
           ;:source-map-timestamp true
           :closure-defines {goog.DEBUG true}}

          :server-tests
          {:target :node-test
           ;:js-options {:js-package-dirs ["./server/node_modules"]}
           :output-dir "server/tests"
           :output-to "server/tests/server-tests.js"
           :ns-regexp "tests."
           :optimizations :none
           ;; needs to be set to false to report correct status code in CI
           :autorun false
           :closure-defines {goog.DEBUG true}}}}
